<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blogz</title> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
{% with messages = get_flashed_messages() %}
{% if messages %}
    <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
{% endwith %}
    <div>
        <a href= "/">All Users</a>
        <a href="/all-posts">All Posts</a>
        <a href= "/add-new">Add New Post</a>
        <a href= "/login">Login</a>
        <a href="/logout">Logout</a>
        <a href="/register">Register</a>
        <h1>Blog(with a Z)</h1>
    </div>
    {%block content%}

    {% endblock content %}
</body>
</html>