<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blogz</title>
    <style>
        .error {color: red}
        </style>        
</head>
<body>
    <div>
            <a href= "/">Main Page</a>
        <a href= "/add-new">Add New Post</a>
        <h1>Blog(with a Z)</h1>
    </div>
    {%block content%}

    {% endblock content %}
</body>
</html>